@page "/macaddress"
@rendermode InteractiveServer
@inject HttpClient Http

<h3>MAC Addresses</h3>

<div class="row">
    <div class="col-sm-4">
        @if (macAddresses != null && macAddresses.Any())
        {
            
                <p>หมายเลข MAC Address ที่เครื่องของท่าน : @mac</p>
                <div>
                       <input @bind="mac"  style="width: 350px;"/>
                </div>
            
        }
    </div>
    <div class="col-sm-8">
        <button @onclick="GetMacAddresses" class="btn btn-secondary">กดดู MacAddresses ของท่าน </button>
    </div>
</div>
    <br />
    <br />
<div class="row">
    <div class="col-sm-4">
        ชื่อ-นามสกุล :
    </div>
    <div class="col-sm-8">
        <input style="width: 350px;" />
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        ตำแหน่ง : 
    </div>
    <div class="col-sm-8">
        <input style="width: 350px;" />
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        กลุ่มงาน : 
    </div>
    <div class="col-sm-8">
        <input style="width: 350px;" />
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        หน่วยงาน : 
    </div>
    <div class="col-sm-8">
        <input style="width: 350px;" />
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        1.ท่านเข้าใช้งานโปรแกรมด้วยเครื่องมือใด : 
    </div>
    <div class="col-sm-8">
         <select class="form-select" aria-label="Default select example">
                <option selected>-- กรุณาเลือก --</option>
                <option value="1">Notebook</option>
                <option value="2">Tablet/iPad</option>
                <option value="3">คอมพิวเตอร์ส่วนตัว</option>
                <option value="4">คอมบริจาค</option>
                <option value="5">คอมเช่า</option>
                <option value="6">ใช้คอมพิวเตอร์จากบ้าน</option>
            </select>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        2.โปรแกรมที่ภายในหน่วยงานท่านมีการใช้งาน :
    </div>
</div>
<div class="row">
  <div class="col-sm-3">
    <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something">
    <label class="form-check-label" for="check2">HosXp</label>
  </div>
  <div class="col-sm-3">
    <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something">
    <label class="form-check-label" for="check2">KPHIS</label>  
  </div>
  <div class="col-sm-3">
    <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something">
    <label class="form-check-label" for="check2">Lab</label>
  </div>
  <div class="col-sm-3">
    <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something">
    <label class="form-check-label" for="check2">พัสดุ</label>
  </div>
</div>
<div class="row">
  <div class="col-sm-3">
    <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something">
    <label class="form-check-label" for="check2">โปรแกรมภายใน</label>
  </div>
  <div class="col-sm-3">
    <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something">
    <label class="form-check-label" for="check2">PACS</label>  
  </div>
  <div class="col-sm-3">
    <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something">
    <label class="form-check-label" for="check2">Authen</label>
  </div>
  <div class="col-sm-3">
    <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something">
    <label class="form-check-label" for="check2">การเงิน</label>
  </div>
</div>
<div class="row">
  <div class="col-sm-3">
    <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something">
    <label class="form-check-label" for="check2">Software Dev</label>
  </div>
  <div class="col-sm-3">
    <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something">
    <label class="form-check-label" for="check2">google</label>  
  </div>
  <div class="col-sm-3">
    <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something">
    <label class="form-check-label" for="check2">Microsoft Office</label>
  </div>
  <div class="col-sm-3">
    <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something">
    <label class="form-check-label" for="check2">Facebook</label>
  </div>
</div>
<div class="row">
  <div class="col-sm-3">
    <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something">
    <label class="form-check-label" for="check2">Youtube</label>
  </div>
</div>
<button @onclick="GetMacAddresses" class="btn btn-secondary">กดดู MacAddresses ของท่าน </button>
@* <div class="row">
  <div class="col-sm-3">
    3.หมายเลข MAC Address ที่เครื่องของท่าน: 
  </div>
  <div class="col-sm-8">
    <input @bind="HosGuid" style="width: 350px;" disabled/>
  </div>
</div> *@

@code {
    public string mac =  new String("");
    private List<string> macAddresses;

    private async Task GetMacAddresses()
    {
        macAddresses = await Http.GetFromJsonAsync<List<string>>("http://localhost:5094/api/Hos/GetMacAddress/macaddress");
    }
}