@page "/manual"

<div class="container">
  <div class="row">
    <div class="col">
        <Image Src="/images/m1.jpg" Class="rounded" Alt="placeholder" width="650px" height="300px" />
    </div>
    <div class="col">
        <Image Src="/images/m2.jpg" Class="rounded" Alt="placeholder" width="600px" height="400px" />
    </div>
  </div>
  <div class="row">
    <div class="col">
        <Image Src="/images/m3.jpg" Class="rounded" Alt="placeholder" width="650px" height="400px" />
    </div>
    <div class="col">
        <Image Src="/images/m4.jpg" Class="rounded" Alt="placeholder" width="622px" height="400px" />
    </div>
  </div>
  <br />
  <br />
  <div class="row">
    <div class="col">
        <Image Src="/images/m5.jpg" Class="rounded" Alt="placeholder" width="650px" height="400px" />
    </div>
    <div class="col">
        <Image Src="/images/m6.jpg" Class="rounded" Alt="placeholder" width="622px" height="400px" />
    </div>
  </div>
  <div class="row">
    <div class="col">
        <Image Src="/images/m7.jpg" Class="rounded" Alt="placeholder" width="800px" height="400px" />
    </div>
  </div>
</div>
